.content__slider {
    background-color: $color-black;
    width: 40%;
    height: 100%;
}

.slider__slides {
    height: 60%;
}

.slider__footer {
    height: 40%;
}

.slider__cta {
    color: $color-white;
    font-style: italic;
    text-transform: uppercase;
}
