.content {
    height: 27.125em;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include mobile {
        flex-direction: column;
    }

    @include desktop {
        height: 32.5em;
    }
}
