doctype html

html(lang="en")
    head
        title sarah
        meta(
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
    body
        main.content
            section.content__video
                video(
                    playsinline
                    autoplay
                    muted
                    loop
                    preload
                )
                    source(
                        src='https://dl.dropbox.com/s/nvtznxk17mf5mob/coffee.mp4?dl=0'
                        type='video/mp4'
                    )
            section.content__video-controls
            section.content__slider
                section.slider__slides
                    article.slider__slide
                        h2 Get up, get down
                    article.slider__slide
                        h2 Get up, get down
                    article.slider__slide
                        h2 Feel the turn of rotation and stop
                    article.slider__slide
                        h2 See the next one waiting
                    article.slider__slide
                        h2 Get up, get down
                    article.slider__slide
                        h2 Get up, get down
                    article.slider__slide
                        h2 Get up
                    article.slider__slide
                        h2 Sentiment's the same but the pair of feet change
                section.slider__footer
                    p Sylvan Esso on Tour Now
                    p get Tickets
                    include svg/logo.pug
