.slider__slide {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1em;

    @include desktop {
        padding: 1.5em;
    }

    &.hidden {
        display: none;
    }

    h2 {
        font-size: 2em;
        text-transform: uppercase;

        @include desktop {
            font-size: 4.5em;
        }
    }
}
